body {
  direction: rtl;
  overflow-x: hidden;
}
$PrimaryColor: #1B2469;
$SecondColor: #FFB656;
$PrimaryText: #011c1e;
$SecondText: #828c8d;

@font-face {
  font-family: "light";
  src: url("../fonts/alfont_com_Somar-Light.otf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/alfont_com_Somar-Regular.otf");
}

@font-face {
  font-family: "medium";
  src: url("../fonts/alfont_com_Somar-Medium.otf");
}

@font-face {
  font-family: "semibold";
  src: url("../fonts/alfont_com_Somar-SemiBold.otf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/alfont_com_Somar-Bold.otf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/Poppins-Bold.otf");
}

.float_whatsapp {
  position: fixed;
  bottom: 13%;
  left: 3%;
  z-index: 999;
  img {
    width: 70px;
    height: 70px;
  }
}
.float_up {
  position: fixed;
  bottom: 5%;
  left: 3%;
  z-index: 999;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  img {
    width: 65px;
    height: 65px;
  }
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

/* ======= navbar ======= */
.navbar {
  .navbar-brand {
    img {
      width: 80%;
    }
  }
  .navbar-collapse {
    justify-content: space-between;
    flex-grow: unset;
    width: 85%;
    margin: 0 auto;
    .navbar-nav {
      width: 100%;
      justify-content: center;
      .nav-item {
        margin: 0 1rem;
        .nav-link {
          font-family: "regular";
          color: #6c6d88;
          &.active {
            font-family: "Medium";
            color: $PrimaryColor;
          }
        }
      }
    }
    .dropdown {
      .dropdown-toggle {
        font-family: "regular";
        font-size: 0.8rem;
        padding: 0.75rem;
        border: 0.75px solid #d4e1f4;
        img {
          width: 20px;
          height: 20px;
          margin-inline-end: 0.5rem;
        }
        &::after {
          margin-right: 0.55em;
        }
        &:hover {
          border-color: transparent;
          border: 0.75px solid #d4e1f4;
        }
      }
      .dropdown-menu {
        .dropdown-item {
          font-family: "regular";
          font-size: 0.8rem;
          text-align: start;
          img {
            width: 20px;
            height: 20px;
            margin-inline-end: 0.5rem;
          }
        }
      }
    }
  }
}
/* ======= navbar ======= */

/* ======= header ======= */
.header {
  height: 85vh;
  position: relative;
  .swiper {
    width: 100%;
    height: 100%;
    position: relative;
    .swiper-pagination {
      display: flex;
      flex-direction: column;
      bottom: 40%;
      right: 4%;
    }
  }
  .swiper-slide {
    text-align: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
    text-align: center;
    line-height: 20px;
    margin: 5px !important;
    font-size: 12px;
    color: #fff;
    opacity: 1 !important;
    font-weight: bold;
    background: transparent !important;
  }
  .swiper-pagination-bullet-active {
    color: #fff;
  }
  .swiper-button-next {
    position: absolute;
    left: 50px !important;
    right: auto !important;
    bottom: 0 !important;
    height: 50px;
    width: 50px;
  }
  .swiper-container-rtl {
    .swiper-button-prev {
      position: absolute;
      left: 50px !important;
      right: auto !important;
      bottom: 0 !important;
      height: 50px;
      width: 50px;
    }
    .swiper-button-next {
      &:after {
        transform: scale(0.5);
        color: #fff;
      }
      left: 0% !important;
      right: auto !important;
      bottom: 0 !important;
      height: 50px;
      width: 50px;
      background-color: $SecondColor;
    }
  }
  .swiper-button-prev {
    &:after {
      transform: scale(0.5);
      color: #fff;
    }
    left: 0% !important;
    right: auto !important;
    bottom: 0 !important;
    height: 50px;
    width: 50px;
    background-color: $SecondColor;
  }
  .swiper-button-next.swiper-button-disabled {
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 1 !important;
  }
  .swiper-button-prev.swiper-button-disabled {
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 1 !important;
  }
  .text-header {
    position: absolute;
    top: 30%;
    z-index: 99;
    text-align: center;
    color: #fff;
    width: 80%;
    right: 10%;
    left: 10%;
    span {
      display: block;
      color: #ededed;
      font-family: "regular";
      width: 35%;
      margin: 2% auto;
    }
    p {
      font-family: "semibold";
      display: flex;
      align-items: center;
      justify-content: center;
      color: $SecondColor;
      font-size: 1.2rem;
      &::before {
        content: "";
        width: 3%;
        margin-left: 1rem;
        height: 2px;
        background-color: $SecondColor;
      }
    }
    h1 {
      font-family: "bold";
    }
  }
  .swiper-container {
    height: 100%;
    .swiper-pagination {
      display: flex;
      flex-direction: column;
      position: absolute;
      height: fit-content;
      top: 35%;
      right: 2%;
      &::before {
        content: "";
        width: 3px;
        height: 70px;
        background-color: #fff;
        margin: 0 10px 25px;
      }
    }
  }
  .arrow {
    width: 100%;
    position: absolute;
    bottom: 25px;
    left: 0;
  }
}
/* ======= header ======= */

/* ======= about ======= */
.about {
  margin-top: 3rem;
  .text-header {
    font-family: "semibold";
    display: flex;
    align-items: center;
    justify-content: center;
    color: $PrimaryColor;
    font-size: 1.4rem;
    &::before {
      content: "";
      width: 3%;
      margin-left: 1rem;
      height: 3px;
      background-color: $PrimaryColor;
    }
  }
  .title_section {
    font-family: "Medium";
    color: #1a140e;
    text-align: center;
    margin-bottom: 2rem;
  }
  .card_about {
    width: 31%;
    display: inline-block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 2.5rem 1.5rem;
    margin-inline-end: 3%;
    transition: background-color 1s ease-out 100ms;
    svg {
      width: 25px;
      height: 25px;
      padding: 1rem;
      color: #fff;
      border-radius: 50%;
      margin-bottom: 1.5rem;
    }
    &:nth-child(3) {
      svg {
        background-color: $PrimaryColor;
      }
      &:hover {
        background-color: $PrimaryColor;
        transition: background-color 1s ease-out 100ms;
        svg {
          background-color: #fff;
          color: $PrimaryColor;
        }
        h4 {
          color: #fff;
        }
        p {
          color: #fff;
        }
      }
    }
    &:nth-child(4) {
      svg {
        background-color: #bd5b92;
      }
      &:hover {
        background-color: #bd5b92;
        transition: background-color 1s ease-out 100ms;
        svg {
          background-color: #fff;
          color: #bd5b92;
        }
        h4 {
          color: #fff;
        }
        p {
          color: #fff;
        }
      }
    }
    &:nth-child(5) {
      svg {
        background-color: #20868C;
      }
      &:hover {
        background-color: #20868C;
        transition: background-color 1s ease-out 100ms;
        svg {
          background-color: #fff;
          color: #20868C;
        }
        h4 {
          color: #fff;
        }
        p {
          color: #fff;
        }
      }
    }
    &:last-child {
      margin-inline-end: 0;
    }
    h4 {
      font-family: "semibold";
      color: #1a140e;
      margin: 1rem 0;
    }
    p {
      font-family: "regular";
      color: #707070;
      font-size: 0.8rem;
    }
  }
}
/* ======= about ======= */

/* ======= services ======= */
.services {
  margin-top: 5rem;
  .text-header {
    font-family: "semibold";
    display: flex;
    align-items: center;
    justify-content: center;
    color: $PrimaryColor;
    font-size: 1.4rem;
    &::before {
      content: "";
      width: 3%;
      margin-left: 1rem;
      height: 3px;
      background-color: $PrimaryColor;
    }
  }
  .title_section {
    font-family: "Medium";
    color: #1a140e;
    text-align: center;
    margin-bottom: 2rem;
  }
  .card_services {
    cursor: pointer;
    img {
      width: 100%;
      height: 250px;
    }
    h3 {
      font-family: "semibold";
      color: #1F1926;
      text-align: center;
      margin: .5rem 0;
    }
    p {
      font-family: "regular";
      color: #99999A;
      text-align: center;
      font-size: .7rem;
      width: 90%;
      margin: 0 auto;
    }
  }
}
/* ======= services ======= */

/* ======= shipping ======= */
.shipping {
  margin-top: 5rem;
  position: relative;
  height: 85vh;
  padding: 3rem 0;
  overflow: hidden;
  .background_img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .row {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  h2 {
    font-family: "semibold";
    color: #fff;
    margin-bottom: 2rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      border-bottom: 2px solid $SecondColor;
      right: 0;
      bottom: -0.5rem;
      height: 5px;
      width: 30%;
    }
  }
  p {
    font-family: "regular";
    color: #E0E0E0;
    font-size: .9rem;
    line-height: 1.8;
  }
}
/* ======= shipping ======= */

/* ======= statistics ======= */
.statistics {
  margin-top: 5rem;
  display: flex;
  background-color: #7973c5;
  padding: 4rem 0;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    background-image: url(../media/image/icon/top_right_circle.svg);
    background-size: 150px 50px;
    display: inline-block;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 20%;
  }
  &::before {
    content: "";
    background-image: url(../media/image/icon/top_left_circle.svg);
    // background-size: 80px 40px;
    display: inline-block;
    width: 70px;
    height: 60px;
    border-radius: 0 50% 200px 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .card_statistics {
    width: 25%;
    text-align: center;
    h3 {
      font-family: "Medium";
      color: #fff;
    }
    p {
      font-family: "regular";
      margin-bottom: 0;
      color: #fff;
    }
    &:nth-child(1) {
      &::after {
        content: "";
        background-image: url(../media/image/icon/stars.svg);
        background-size: 100px 50px;
        display: inline-block;
        width: 100px;
        height: 50px;
        position: absolute;
        top: 15%;
        right: 3%;
      }
    }
    &:nth-child(3) {
      &::before {
        content: "";
        background-image: url(../media/image/icon/circle.svg);
        background-size: 65px 65px;
        display: inline-block;
        width: 65px;
        height: 65px;
        position: absolute;
        top: -5%;
        left: 30%;
      }
    }
    &:nth-child(4) {
      &::before {
        content: "";
        background-image: url(../media/image/icon/stars.svg);
        background-size: 80px 40px;
        display: inline-block;
        width: 80px;
        height: 40px;
        position: absolute;
        top: 45%;
        left: 23%;
      }
      &::after {
        content: "";
        background-image: url(../media/image/icon/have_bottom_circle.svg);
        background-size: 150px 80px;
        display: inline-block;
        width: 150px;
        height: 80px;
        position: absolute;
        bottom: 0;
        left: 20%;
      }
    }
  }
}
/* ======= statistics ======= */

/* ======= company ======= */
.company {
  margin-top: 3rem;
  .text-header {
    font-family: "semibold";
    display: flex;
    align-items: center;
    justify-content: start;
    color: $PrimaryColor;
    font-size: 1.4rem;
    &::before {
      content: "";
      width: 5%;
      margin-left: 1rem;
      height: 3px;
      background-color: $PrimaryColor;
    }
  }
  .title_section {
    font-family: "Medium";
    color: #1a140e;
    text-align: start;
    width: 80%;
    margin-bottom: 2rem;
  }
  .accordion {
    .accordion-item {
      margin-bottom: 2rem;
      border-top: var(--bs-accordion-border-width) solid
        var(--bs-accordion-border-color);
      .accordion-header {
        .accordion-button {
          color: #3b3a3a;
          font-family: "Medium";
          text-align: start;
          .number {
            display: flex;
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            margin-inline-end: 1rem;
          }
          &::after {
            margin-right: auto;
            margin-left: unset;
            filter: invert(34%) sepia(45%) saturate(6599%) hue-rotate(165deg)
              brightness(95%) contrast(96%);
          }
          &:not(.collapsed) {
            background-color: transparent;
            box-shadow: unset;
            &::after {
              background-image: var(--bs-accordion-btn-icon) !important;
            }
          }
          &:focus {
            box-shadow: none;
          }
        }
      }
      .accordion-collapse {
        .accordion-body {
          font-family: "regular";
          color: #8f8f8f;
          font-size: 0.9rem;
          width: 90%;
          margin-inline-start: auto;
        }
      }
      &:nth-child(1) {
        .accordion-header {
          .accordion-button {
            .number {
              color: #4a4676;
              background-color: rgba(74, 70, 118, 0.12);
              border-radius: 12px;
            }
          }
        }
      }
      &:nth-child(2) {
        .accordion-header {
          .accordion-button {
            .number {
              color: #bd5b92;
              background-color: rgba(189, 91, 146, 0.12);
              border-radius: 12px;
            }
          }
        }
      }
      &:nth-child(3) {
        .accordion-header {
          .accordion-button {
            .number {
              color: #4a4676;
              background-color: rgba(74, 70, 118, 0.12);
              border-radius: 12px;
            }
          }
        }
      }
    }
  }
  .image_company {
    position: relative;
    img {
      height: 500px;
      width: 80%;
      display: block;
      margin-inline-start: auto;
    }
  }
}
/* ======= company ======= */

/* ======= application ======= */
.application {
  margin-top: 3rem;
  padding: 5rem 0;
  background-color: rgba(27, 36, 105, 0.05);
  position: relative;
  h3 {
    font-family: "bold";
    color: #222222;
    text-align: center;
    margin-bottom: 2rem;
  }
  .swiper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    .swiper-slide {
      text-align: center;
      font-size: 18px;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      img {
        display: block;
        width: 85%;
        height: 400px;
        margin: 0 auto;
      }
    }
    .swiper-pagination {
      .swiper-pagination-bullet {
        &.swiper-pagination-bullet-active {
          background: $PrimaryColor;
        }
      }
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    .download_btn {
      padding: 0;
      margin: 0 .5rem;
      img {
        width: 130px;
      }
      &:hover {
        border-color: transparent;
      }
    }
  }
}
/* ======= application ======= */

/* ======= partners ======= */
.partners {
  margin: 8rem 0;
  .swiper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      img {
        display: block;
        width: 100%;
        height: 35px;
        margin: 0 auto;
        filter: grayscale(1);
        transition: 0.7s ease-in-out;
        &:hover {
          filter: grayscale(0);
          transition: 0.7s ease-in-out;
        }
      }
    }
  }
}
/* ======= partners ======= */

/* ======= employment ======= */
.employment {
  .card_step {
    box-shadow: 0 0 31px rgba(0, 0, 0, 0.05);
    width: 42%;
    height: fit-content;
    text-align: center;
    display: inline-block;
    padding: 3rem 2rem;
    margin-bottom: 0;
    margin-inline-end: 8%;
    border-radius: 14px;
    position: relative;
    img {
      width: 60px;
      height: 60px;
    }
    h5 {
      font-family: "Medium";
      color: #1d1d26;
      margin: 1rem 0;
    }
    p {
      font-family: "Medium";
      color: #707070;
      font-size: 0.7rem;
      margin-bottom: 0;
    }
    &:nth-child(even) {
      margin-inline-end: 0;
      margin-top: 2rem;
    }
    &:nth-child(1) {
      &::after {
        content: "";
        background-image: url("../media/image/icon/dots_pirple.svg");
        background-size: 50px 50px;
        display: inline-block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 5%;
        right: 2%;
      }
      &::before {
        content: "";
        background-image: url("../media/image/icon/line.svg");
        background-size: 50px 50px;
        display: inline-block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 45%;
        left: -20%;
        z-index: -1;
      }
    }
    &:nth-child(2) {
      &::after {
        content: "";
        background-image: url("../media/image/icon/dots_brouwn.svg");
        background-size: 50px 50px;
        display: inline-block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 5%;
        right: 2%;
      }
      &::before {
        content: "";
        background-image: url("../media/image/icon/line.svg");
        transform: rotate(90deg);
        background-size: 50px 50px;
        display: inline-block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 100%;
        right: -18%;
        z-index: -1;
      }
    }
    &:nth-child(3) {
      &::after {
        content: "";
        background-image: url("../media/image/icon/dots_green.svg");
        background-size: 50px 50px;
        display: inline-block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 5%;
        right: 2%;
      }
      &::before {
        content: "";
        background-image: url("../media/image/icon/line.svg");
        background-size: 50px 50px;
        display: inline-block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 45%;
        left: -20%;
        z-index: -1;
      }
    }
    &:nth-child(4) {
      &::after {
        content: "";
        background-image: url("../media/image/icon/dots_dark_green.svg");
        background-size: 50px 50px;
        display: inline-block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 5%;
        right: 2%;
      }
    }
  }
  .download_buttons {
    width: 80%;
    margin-inline-start: auto;
    .text-header {
      font-family: "semibold";
      display: flex;
      align-items: center;
      justify-content: start;
      color: $PrimaryColor;
      font-size: 1.4rem;
      position: relative;
      &::before {
        content: "";
        width: 8%;
        margin-left: 1rem;
        height: 3px;
        background-color: $PrimaryColor;
      }
      &::after {
        content: "";
        background-image: url("../media/image/icon/best_icon.svg");
        background-size: 25px 25px;
        display: inline-block;
        width: 25px;
        height: 25px;
        position: absolute;
        top: -5%;
        right: 8rem;
        transform: rotate(270deg);
      }
    }
    .title_section {
      font-family: "bold";
      color: #3b3a3a;
      text-align: start;
      width: 80%;
      margin-bottom: 2rem;
    }
    .text {
      font-family: "regular";
      color: #8f8f8f;
      font-size: 0.8rem;
    }
    .apple_store,
    .google_play {
      padding: 0;
      width: 25%;
      margin-inline-end: 1rem;
      img {
        width: 100%;
      }
      &:hover {
        border-color: transparent;
      }
    }
  }
}
/* ======= employment ======= */

/* ======= best platform ======= */
.app_technicians {
  background-image: url("../media/image/best.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
  margin-top: 3rem;
  position: relative;
  &::after {
    content: "";
    background-image: url("../media/image/icon/best_icon_bottom.svg");
    background-size: 35px 35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 15rem;
    left: 20rem;
    z-index: -1;
  }
  .title_section {
    font-family: "bold";
    color: #3b3a3a;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    position: relative;
    &::after {
      content: "";
      background-image: url("../media/image/icon/best_icon.svg");
      background-size: 25px 25px;
      display: inline-block;
      width: 25px;
      height: 25px;
      position: absolute;
      top: -1rem;
      right: -1rem;
      z-index: -1;
    }
  }
  .swiper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin-top: 4rem;
    .swiper-slide {
      text-align: center;
      font-size: 18px;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      img {
        display: block;
        width: 85%;
        height: 400px;
        margin: 0 auto;
      }
    }
    .swiper-pagination {
      .swiper-pagination-bullet {
        &.swiper-pagination-bullet-active {
          background: $PrimaryColor;
        }
      }
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    .download_btn {
      padding: 0;
      margin: 0 .5rem;
      img {
        width: 130px;
      }
      &:hover {
        border-color: transparent;
      }
    }
  }
}
/* ======= best platform ======= */

/* ======= opinion ======= */
.opinion {
  margin-top: 3rem;
  padding: 5rem 0;
  position: relative;
  h3 {
    font-family: "Medium";
    color: #222222;
    text-align: center;
    margin: 0 auto 2rem;
    width: 30%;
  }
  .text-header {
    font-family: "semibold";
    display: flex;
    align-items: center;
    justify-content: center;
    color: $PrimaryColor;
    font-size: 1.4rem;
    &::before {
      content: "";
      width: 3%;
      margin-left: 1rem;
      height: 3px;
      background-color: $PrimaryColor;
    }
  }
  .swiper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    .swiper-slide {
      text-align: center;
      font-size: 18px;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      .card_opinion {
        padding: 2rem 1.5rem;
        border-radius: 50px;
        border: 0.5px solid #dcdce396;
        background-color: #fff;
        .text-head {
          font-family: "bold";
          color: #0b0d39;
          text-align: start;
        }
        .text {
          font-family: "Medium";
          color: $SecondText;
          font-size: 0.9rem;
          line-height: 1.5;
          text-align: start;
          margin: 1.5rem 0;
        }
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-inline-end: 1rem;
        }
        .title {
          text-align: start;
          .name {
            margin-bottom: 0;
            font-family: "bold";
            color: #0b0d39;
          }
          span {
            font-family: "Medium";
            color: #0b0d39;
            font-size: 0.7rem;
          }
        }
      }
    }
    .swiper-pagination {
      .swiper-pagination-bullet {
        &.swiper-pagination-bullet-active {
          background: $PrimaryColor;
        }
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      bottom: 0;
      top: unset;
      background-color: $PrimaryColor;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      &::after {
        content: unset;
      }
      svg {
        filter: brightness(0) invert(1);
      }
    }
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
      right: 47%;
    }
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
      left: 47%;
    }
    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
      background-color: #fff;
      border: 3px solid #dcdce3;
      svg {
        filter: unset;
      }
    }
  }
}
/* ======= opinion ======= */

/* ======= contact ======= */
.contact {
  margin-top: 5rem;
  img {
    width: 95%;
  }
  .text-header {
    font-family: "semibold";
    display: flex;
    align-items: center;
    justify-content: start;
    color: $PrimaryColor;
    font-size: 1.4rem;
    &::before {
      content: "";
      width: 5%;
      margin-left: 1rem;
      height: 3px;
      background-color: $PrimaryColor;
    }
  }
  h2 {
    font-family: "semibold";
    color: #1a140e;
    margin-bottom: 0;
  }
  .form_contact {
    margin-top: 2rem;
    .form-group {
      margin-bottom: 1rem;
      .form-control {
        font-size: 0.8rem;
        padding: 0.75rem;
        font-family: "regular";
        color: #afbbc1;
        resize: none;
      }
    }
    .submit_form_conatct {
      background-color: $PrimaryColor;
      color: #fff;
      font-family: "regular";
      font-size: .8rem;
      padding: .7rem;
      transition: .7s ease-in-out;
      width: 100%;
      &:hover {
        border-color: transparent;
        border: 1px solid $PrimaryColor;
        color: $PrimaryColor;
        background-color: #fff;
        transition: .7s ease-in-out;
      }
    }
  }
}
/* ======= contact ======= */

/* ======= contact us ======= */
.contact_us {
  margin-top: 5rem;
  .row {
    align-items: center;
  }
  .form_contact_us {
    padding: 2rem;
    background-color: #4A4676;
    color: #fff;
    width: 70%;
    margin: 0 auto;
    border-radius: 15px;
    h4 {
      font-family: "Medium";
      color: #fff;
    }
    p {
      font-family: "regular";
      color: #E6E6E6;
      width: 95%;
      font-size: .8rem;
    }
    .form-group {
      position: relative;
      input {
        font-size: .8rem;
        padding: .9rem;
        border-radius: 40px;
        color: #4A4676;
        font-family: "regular";
        padding-inline-start: 2.5rem;
      }
      svg {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: #4A4676;
      }
      .btn {
        position: absolute;
        top: .5rem;
        left: .5rem;
        font-size: .7rem;
        padding: 0.5rem 1.5rem;
        border-radius: 40px;
        background-color: #4A4676;
        color: #fff;
        font-family: "regular";
        &:hover {
          border-color: transparent;
        }
      }
    }
  }
}
/* ======= contact us ======= */

/* ======= terms ======= */
.terms{
  margin-top: 5rem;
  h2 {
    font-family: "semibold";
    color: #1F1926;
  }
  p {
    font-size: .9rem;
    font-family: "light";
    color: #626281;
    line-height: 1.7;
  }
}
/* ======= terms ======= */

/* ======= faq ======= */
.faq {
  margin-top: 5rem;
  .title_section {
    font-family: "Medium";
    color: #1a140e;
    margin-bottom: 2rem;
  }
  .accordion {
    display: flex;
    flex-wrap: wrap;
    .accordion-item {
      width: 100%;
      height: fit-content;
      &:not(:first-of-type) {
        border-top: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
      }
      .accordion-button {
        font-family: "regular";
        color: $SecondText;
        &::after {
          margin-right: auto;
          margin-left: unset;
        }
        &:not(.collapsed) {
          background-color: transparent;
          color: $PrimaryColor;
          font-family: "semibold";
          font-size: 1.5rem;
        }
      }
      .accordion-collapse {
        .accordion-body {
          p {
            font-family: "light";
            color: #626281;
            font-size: .9rem;
            margin-bottom: 0;
            width: 80%;
          }
        }
      }
    }
  }
}
/* ======= faq ======= */

/* ======= error ======= */
.error {
  img {
    width: 50%;
    margin: 2rem auto;
    display: block;
  }
  h2 {
    font-family: "bold";
    color: #222222;
    text-align: center;
  }
  .btn {
    background-color: $PrimaryColor;
    color: #fff;
    font-size: .8rem;
    padding: .75rem 2rem;
    font-family: "regular";
    transition: .7s ease-in-out;
    margin: 1rem auto 0;
    display: block;
    width: fit-content;
    &:hover {
      border-color: transparent;
      border: 1px solid $PrimaryColor;
      background-color: #ffff;
      color: $PrimaryColor;
      transition: .7s ease-in-out;
    }
  }
}
/* ======= error ======= */

/* ======= footer ======= */
footer {
	background-color: #fff;
  margin-top: 3rem;
	padding-top: 3%;
	.logo-col {
		text-align: start;
		img {
			width: 35%;
			display: block;
			margin-bottom: 5%;
		}
		ul {
			list-style: none;
			padding: 0;
			display: flex;
			li {
				margin: 10px 0;
				img {
					width: 35px;
				}
				&:last-child {
					a {
						direction: ltr;
						unicode-bidi: embed;
						font-family: cursive;
					}
				}
			}
		}
		p {
			color: #343434;
			text-align: center;
			font-family: "semibold";
		}
	}
	.col-links {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 10px 0;
		justify-content: flex-start;
		p {
			color: #222222;
			font-family: "semibold";
			text-align: start;
			margin: 0;
      font-size: 1.5rem;
      margin-top: .5rem;
		}
    span, a {
      font-family: "regular";
      color: #000B33;
      width: 100%;
      display: block;
      font-size: .9rem;
      text-decoration: none;
    }
		.h3 {
			margin-bottom: 15px;
			font-size: 1.5rem;
			color: #0c1321;
			font-family: "bold";
			position: relative;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			text-align: start;
			li {
				margin: 15px 0;
				display: table;
				svg {
					margin: 0 2%;
				}
				a {
					text-decoration: none;
					color: var(--color-fouth);
					font-family: "regular";
					font-size: 1rem;
				}
				span {
					color: #223140;
					font-family: regular;
					font-size: 16px;
				}
			}
		}
		&:last-child {
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				text-align: start;
			}
		}
	}
	.socialicon {
		display: flex;
		justify-content: flex-start;
		li {
			list-style: none;
			margin: 7px 0 !important;
			a {
				width: 40px;
				height: 40px;
				background-color: #fff;
				text-align: center;
				line-height: 30px;
				font-size: 20px;
				margin: 0 5px;
				display: block;
				border-radius: 50%;
				position: relative;
				overflow: hidden;
				border: 3px solid #fff;
				z-index: 1;
				.icon {
					position: relative;
					color: $PrimaryColor;
					transition: 0.5s;
					z-index: 3;
					top: 5%;
					margin: 0;
				}
				&:hover {
					.icon {
						color: #fff;
						transform: rotateY(360deg);
					}
					&:before {
						top: 0;
					}
				}
				&:before {
					content: "";
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					height: 100%;
					background: #f00;
					transition: 0.5s;
					z-index: 2;
				}
			}
			&:nth-child(1) {
				a {
					&:before {
						background: #3b5999;
					}
				}
			}
			&:nth-child(2) {
				a {
					&:before {
						background: #55acee;
					}
				}
			}
			&:nth-child(3) {
				a {
					&:before {
						background: #0077b5;
					}
				}
			}
			&:nth-child(4) {
				a {
					&:before {
						background: #dd4b39;
					}
				}
			}
			&:nth-child(5) {
				a {
					&:before {
						background: #25d366;
					}
				}
			}
		}
	}
	.accordion {
		.nav-link {
			float: none;
			color: #fff;
			font-family: "regular";
		}
	}
	.contact {
    margin-top: 0;
		p {
			font-family: "light";
			color: #70798B;
			text-align: start;
      font-size: .8rem;
			width: 90%;
		}
		ul {
			li {
				svg {
					width: 1.2rem !important;
					margin-left: 0.5rem;
					color: var(--color-secound);
				}
				span {
					font-family: "regular";
					color: #fff;
					text-decoration: none;
				}
				a {
					font-family: "regular";
					color: #fff;
					text-decoration: none;
				}
			}
			flex-direction: row;
		}
	}
	.footer-bottom {
		padding: 10px 0;
		margin-top: 30px;
		width: 100%;
		font-family: "semibold";
		background-color: #fff;
		border-top: 1.5px solid #a6a6a6;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #000;
		.item {
			p {
				color: #223140;
				display: inline-block;
				font-size: 1.5rem;
				.alina {
					color: var(--color-secound);
					font-size: 1rem;
				}
			}
			a {
				text-decoration: none;
			}
			h6 {
				font-size: 1.3rem;
				color: #223140;
			}
			span {
				font-size: 1.2rem;
				color: #223140;
			}
		}
		.my-heart {
			animation: hvr-pulse 0.3s infinite;
		}
	}
	.email {
		position: relative;
		height: 50px;
		input {
			height: 100%;
			font-size: 14px;
			font-family: "regular";
			border-radius: 8px;
		}
		button {
			position: absolute;
			top: 15%;
			left: 4%;
			width: 3rem;
			height: 2.2rem;
			fill: #fff;
			background-color: var(--color-secound);
			padding: 2%;
			border-radius: 8px;
			svg {
				width: 2rem;
				height: 1.5rem;
				position: absolute;
				top: 15%;
				left: 15%;
			}
		}
	}
}
/* ======= footer ======= */


@media only screen and (max-width: 1200px) {
  .company {
    .image_company {
      &::before {
        left: -2rem;
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .float_up {
    img {
      width: 70px;
      height: 70px;
    }
  }
  .float_whatsapp {
    bottom: 15%;
  }
  .header {
    .text-header {
      p {
        &::before {
          width: 5%;
        }
      }
      span {
        width: 70%;
      }
    }
  }

  .company {
    .accordion {
      margin-bottom: 2rem;
    }
    .image_company {
      &::after {
        content: unset;
      }
      &::before {
        content: unset;
      }
      img {
        margin: 0 auto;
      }
    }
  }

  .about {
    .card_about {
      width: 80%;
      margin: 0 10%;
      margin-inline-end: unset;
      margin-bottom: 1rem;
    }
  }

  .statistics {
    .card_statistics {
      &:nth-child(4) {
        &::before {
          content: unset;
        }
        &::after {
          content: unset;
        }
      }
      &:nth-child(1) {
        &::after {
          content: unset;
        }
      }
    }
  }

  .best_platform {
    .title_section {
      width: 50%;
    }
    p {
      width: 50%;
    }
    img {
      height: 30vh;
    }
    &::after {
      content: unset;
    }
  }

  .download {
    h3 {
      text-align: center;
      margin-top: 3rem;
    } 
    ul {
      text-align: center;
      li {
        margin: 0 auto;
      }
    }
    .download_buttons {
      display: flex;
      justify-content: center;
    }
    .image_download {
      margin-top: 7rem;
    }
  }

  .opinion {
    h3 {
      width: 50%;
    }
    .swiper .swiper-button-next, .swiper .swiper-container-rtl .swiper-button-prev {
      left: 44%;
    }
    .swiper .swiper-button-prev, .swiper .swiper-container-rtl .swiper-button-next {
      right: 44%;
    }
  }

  .contact {
    img {
      margin-bottom: 3rem;
    }
  }

  .services {
    .card_services {
      margin-bottom: 2rem;
    }
  }

  .shipping {
    margin-top: 3rem;
    overflow: hidden;
    .shiping_card {
      height: 70vh;
      overflow: hidden;
    }
  }
  
  footer {
    .logo-col {
      img {
        width: 20%;
      }
    }
    .col-links {
      align-items: center;
      p {
        text-align: center;
      }
      span, a {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .header {
    height: 60vh;
    .text-header {
      span {
        width: 100%;
      }
    }
  }
  .company {
    .image_company {
      img {
        height: 300px;
      }
    }
  }
  .best_platform {
    .title_section {
      width: 85%;
    }
    p {
      width: 85%;
    }
    img {
      width: 85%;
    }
  }
  .employment {
    .download_buttons {
      margin-top: 3rem;
      width: 100%;
    }
  }
  .download {
    .image_download {
      margin-top: 4rem;
    }
    .download_buttons {
      .btn {
        width: 30%;
      }
    }
  }
  .application {
    .swiper {
      .swiper-slide {
        img {
          height: 600px;
          width: 80%;
        }
      }
    }
  }
  .app_technicians {
    .swiper {
      .swiper-slide {
        img {
          height: 600px;
          width: 80%;
        }
      }
    }
  }
  .opinion {
    margin-top: 0;
    h3 {
      width: 75%;
    }
    .swiper .swiper-button-next, .swiper .swiper-container-rtl .swiper-button-prev {
      left: 38%;
    }
    .swiper .swiper-button-prev, .swiper .swiper-container-rtl .swiper-button-next {
      right: 38%;
    }
  }
  .contact_us {
    .form_contact_us {
      width: 100%;
    }
  }
  .breadcrumb {
    height: 50vh;
  }
  .error {
    img {
      width: 70%;
    }
    p {
      width: 70%;
    }
  }

  .statistics {
    display: flex;
    flex-wrap: wrap;
    .card_statistics {
      width: 49%;
      margin-bottom: 1rem;
    }
  }
  .employment {
    .card_step {
      width: 80%;
      margin: 0 auto;
      margin-top: 2rem;
      margin-inline-end: auto !important;
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        &::before {
          content: unset;
        }
      }
    }
  }
  .app_technicians {
    .title_section {
      width: 70%;
    }
  }
}
